.accountmodal > div > div {
  max-width: 450px !important; }

.accountmodal > div > div > div {
  height: 480px; }

.accountmodal .accountmodal__menu--close {
  display: inline-block;
  font-size: 1.2rem;
  color: #d68533;
  cursor: pointer;
  position: absolute;
  top: 1.5rem;
  right: 1.5rem; }

.accountmodal .accountmodal__content {
  padding-top: 2rem; }
  .accountmodal .accountmodal__content--image {
    margin-top: 20px;
    max-width: 200px;
    height: 70px;
    width: 100%;
    margin-left: 24.5%; }
  .accountmodal .accountmodal__content--button-container {
    text-align: center; }
  .accountmodal .accountmodal__content--buttons {
    display: inline-block;
    border: 1px solid #d68533;
    font-family: "Lato", sans-serif !important;
    padding: 0.5rem 2.2rem;
    color: #bbb5b5; }
    .accountmodal .accountmodal__content--buttons:first-of-type {
      border-right: none; }
  .accountmodal .accountmodal__content .isActive {
    background-color: #d68533;
    color: white; }
